{% extends "base.html" %}

{% block title %}Poll - {{poll.title}}{% endblock %}

{% block content %}
<div class="row">
    <div class="col">
        <h4 class="">{{poll.title}}</h4>
    </div>
</div>
<div class="row">
    <div class="col">
        <p class="">{{poll.description}}</p>
    </div>
</div>
<form method="post" id="vote-form">
{% for option_struct in options_struct %}
    <div class="option-row form-group row {% if option_struct.score < 0 %}bg-warning{% elif option_struct.score == max_score and max_score is not 0 %}bg-success{% else %}bg-info{% endif %}" id="option_row_{{option_struct.option.id}}">
        <div class="col" onclick="vote({{option_struct.option.id}})">
            <span class="badge badge-default badge-pill">{{option_struct.score}}</span> &nbsp;
            {% if my_vote and option_struct.option == my_vote.option %}
            <i class="fa fa-check"></i> &nbsp;
            {% endif %}
            {{option_struct.option.text}} &nbsp;
            <small class="text-muted">
                by&nbsp;{{option_struct.option.creator.username}}
            </small>
        </div>
        {% if option_struct.option.creator == user %}
        <div class="col-auto" onclick="delete_option({{option_struct.option.id}});">
                <i class="fa fa-remove" aria-hidden="true"></i>
        </div>
        {% endif %}
    </div>
{% endfor %}
    {% csrf_token %}
    <input type="hidden" name="option" id="option-input" />
</form>
<form method="post">{% csrf_token %}
    <div class="form-group row option-row">
        <div class="col col-9">
            <input id="add-element-input" type="text" name="add_element" class="form-control" placeholder="New option" />
        </div>
        <div class="col col-auto">
            <button type="submit" class="btn btn-primary btn-block">
                <i class="fa fa-plus"></i> add
            </button>
        </div>
    </div>
</form>

{% endblock %}

{% block javascript %}
    function vote(id) {
        $('#option-input').val(id);
        $('#vote-form').submit();
    }

    function delete_option(id) {
        $.ajax({
            method: "POST",
            url: '{% url 'poll' id=poll.id%}',
            data: {'delete': id},
            headers: {'X-CSRFToken': '{{ csrf_token }}'},
        }).done(function(data) {
            var row_id = '#option_row_' + id;
            $(row_id).hide();
        });
    }

{% endblock %}