{% extends 'base.html' %}

{% block title %}Index{% endblock %}

{% block content %}
<div class="row">
    {% for poll in my_polls %}
    <div class="col">
        <div href="{% url 'poll' id=poll.id %}" class="card">
            <div class="card-block">
                <h5 class="card-title">{{poll.title}}</h5>
                <div class="card-text">{{poll.description}}</div>
            </div>
            <ul class="list-group list-group-flush">
            {% for option in poll.get_top_voted_options %}
                <li class="list-group-item justify-content-between">
                    {{option.text}}
                    <span class="badge badge-default badge-pill">{{option.num_votes}}</span>
                </li>
            {% endfor %}
            </ul>
            <a href="{% url 'poll' id=poll.id %}" class="list-group-item list-group-item-action list-group-item-info btn-block">Show poll</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
